:root {
    --primary-color: #2C5063;
    --secondary-color: #FBFCD9;
    --accent1-color: #E2C044;
    --accent2-color: #C3CED5;

    --heading-font: 'Lato', sans-serif;
    --paragraph-font: 'Lato', sans-serif;

    --nav-background-color: #FBFCD9;
    --nav-link-color: #0c3b54;
    --nav-hover-link-color: #E2C044;
    --nav-hover-background-color: #FBFCD9;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
    text-align: center;
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
  