* {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    color: white;
    display: block;
    padding: 10px;
    display: block;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
}
h1 {
    color: steelblue;
    border-bottom: 1px solid steelblue
}
img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;;
}
p {
    padding: 10px;
}
main {
    max-width: 840px;
}
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}
aside img {
    width: 200px;
    height: auto;
}
main img {
    width: 150px;
    height: auto;
    float: right;
}
footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000
}
aside h2 {
    position: absolute;
    top: 60px;
    left: 120px;
    text-shadow: 2px 2px 3px #fff;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;  
}
.grid {
    display: grid;
    align-items: center;
  }
  
  main {
    grid-column: 2/3;
    margin: 1rem;
  }
  
  aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
  }